* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $fontColor;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
    padding: 1em 1.5em;
    background: $bg;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $fontColor;
}
.sticky {
    position: sticky;
    top: 0;
}
// Button styles
.button {
    background-image: $gradient;
    padding: 0.5em 1em;
    color: white;
    border-radius: 1em;
    font-size: 15px;
    border: none;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}

// white box bg
.box {
    width: 100%;
    background: white;
    max-height: 100%;
    box-shadow: $boxShadow;
    border-radius: 2em;
    padding: 1.5em;
    max-width: calc(100vw / 5 * 4);

    .title {
        font-weight: bold;
        font-size: 15px;
    }

    .title-with-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.dashboard {
    padding: 1em;

    // Metrics
    .metrics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
        margin-bottom: 1em;

        .metric {
            background: white;
            padding: 1em;
            border-radius: 1em;
            box-shadow: $boxShadow;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .text {
                .title {
                    font-size: 14px;
                    color: $lFontColor;
                    font-weight: 400;
                }
                .number {
                    font-weight: bold;
                    font-size: 17px;
                }
            }

            i {
                background-image: $gradient;
                padding: 0.7em;
                border-radius: 0.5em;
                color: white;
                font-size: 18px;
            }
        }
    }

    // Vista de tabla
    .table_list {
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1em;

            tr:nth-of-type(1) {
                margin-left: 1em;
                border-bottom: 1px solid $fontL;
                th {
                    text-align: left;
                    font-size: 13px;
                    color: $fontL;
                }
            }

            tr:not(:first-child) {
                &:hover {
                    box-shadow: $boxShadow;
                    border-radius: 0.5em;

                    td {
                        .action {
                            background-image: $gradient;
                            i {
                                color: white;
                            }
                        }
                    }
                }
                .small_text {
                    font-size: 13px;
                }
                td {
                    color: $fontColor;
                    padding: 1em;

                    .ltext {
                        color: $fontL;
                    }

                    .table_text {
                        color: $lFontColor;
                    }
                    .action {
                        padding: 0.5em 1em;
                        border-radius: 1em;
                        cursor: pointer;
                        i {
                            text-align: center;
                        }
                    }
                    .mr {
                        margin-right: 0.5em;
                    }

                    i {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.form {
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-direction: column;
    .error {
        width: 100%;
        background: $gradient;
    }
    .form-submit {
        display: flex;
        height: 100%;
        padding: 1em;
    }
    .form-control {
        background: white;
        padding: 1em;
        display: flex;
        flex-direction: column;
        max-width: 100%;

        label {
            color: $lFontColor;
        }

        input,
        select {
            font-size: 16px;
            color: $fontColor;
            padding: 0.5em 1em;
            max-width: 100%;
        }
    }
}
