* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $fontColor;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
    padding: 1em 1.5em;
    background: $bg;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $fontColor;
}

.dashboard {
    padding: 1em;

    // Metrics
    .metrics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
        margin-bottom: 1em;

        .metric {
            background: white;
            padding: 1em;
            border-radius: 1em;
            box-shadow: $boxShadow;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .text {
                .title {
                    font-size: 14px;
                    color: $lFontColor;
                    font-weight: 400;
                }
                .number {
                    font-weight: bold;
                    font-size: 17px;
                }
            }

            i {
                background-image: $gradient;
                padding: 0.7em;
                border-radius: 0.5em;
                color: white;
                font-size: 18px;
            }
        }
    }

    // white box bg
    .box {
        width: 100%;
        background: white;
        max-height: 100%;
        box-shadow: $boxShadow;
        border-radius: 2em;
        padding: 1.5em;

        .title {
            font-weight: bold;
            font-size: 20px;
        }
    }

    // Vista de tabla
    .table_list {
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1em;

            tr:nth-of-type(1) {
                margin-left: 1em;
                border-bottom: 1px solid $fontL;
                th {
                    text-align: left;
                    font-size: 13px;
                    color: $fontL;
                }
            }

            tr:not(:first-child) {
                &:hover {
                    box-shadow: $boxShadow;
                    border-radius: 0.5em;

                    td {
                        .action {
                            background-image: $gradient;
                            i {
                                color: white;
                            }
                        }
                    }
                }

                td {
                    color: $fontColor;
                    padding: 1em;

                    .ltext {
                        color: $fontL;
                    }

                    .table_text {
                        color: $lFontColor;
                    }
                    .action {
                        padding: 0.5em 1em;
                        border-radius: 1em;
                        cursor: pointer;
                    }

                    i {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
